<div class="about-container">
    <div class="about-image">
        <img src="assets/images/marcenariaexemplo.avif" alt="Marcenaria">
      </div>
    <div class="about-text">
      <h1>Sobre nós</h1>
      <p>
        A BF Marcenaria nasceu oficialmente em 1992, mas nossa história com a madeira começou a ser desenhada muito antes. Desde 1977, Aparecido já dedicava seus dias ao ofício de marceneiro, cultivando um olhar atento e mãos precisas que, décadas depois, tornariam a nossa marca uma referência em São Paulo.
        <br>Para nós, a BF não é apenas um empreendimento, é o nosso compromisso em tratar cada projeto como se fosse para a nossa própria casa. Ao longo dessa trajetória sólida, aprendemos que a verdadeira qualidade nasce da união entre a experiência técnica e a dedicação em ouvir o que cada cliente sonha.
        <br>Hoje, continuamos transformando ambientes na capital paulista com o mesmo carinho e compromisso do primeiro dia. Mais do que móveis sob medida, entregamos dedicação e o conforto de saber que cada detalhe foi pensado para durar.
      </p>
      <div class="frase">
        <p>
            <strong>BF: Desde 1977, unindo tradição, família e o seu bem-estar.</strong>
        </p>
    </div>
    </div>
  </div>