<div class="caixa-1">
  <app-carousel></app-carousel>

  <div class="text-container">
    <div class="welcome-text">
      <h1>Mobiliário que conta a sua história</h1>
      <p>
        <br> Onde a tradição do trabalho manual encontra o design que você precisa. Especialistas em móveis sob medida, priorizamos a qualidade em cada detalhe e a satisfação de nossos clientes
        <br>Gostaria de um orçamento? Fale com a gente e confira nossa disponibilidade. Agradecemos a preferência!
      </p>
    </div>

    <button class="orcamento" routerLink="/contato">
      Solicite um orçamento
    </button>
  </div>
</div>

<div class="diferenciais-container">
  <h2 class="diferenciais-titulo">Nossos diferenciais</h2>

  <div class="diferenciais-grid">
    <div class="diferencial-box">
      <h3>Projetos personalizados</h3>
      <p>
        Criamos projetos únicos e personalizados que se encaixam perfeitamente em seu ambiente.
      </p>
    </div>

    <div class="diferencial-box">
      <h3>Materiais de alta qualidade</h3>
      <p>
        Trabalhamos principalmente com MDF revestido garantindo sempre um acabamento sofisticado.
      </p>
    </div>

    <div class="diferencial-box">
      <h3>Profissionalismo e experiência</h3>
      <p>
        A equipe é composta por profissionais familiares que já carregam quase 50 anos de experiência no ofício.
      </p>
    </div>

    <div class="diferencial-box">
      <h3>Atendimento personalizado</h3>
      <p>
        A BF oferece um atendimento personalizado e atencioso, priorizando as necessidades do cliente.
      </p>
    </div>
  </div>
</div>